<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmRYxNVBg1ln52CgtBoQvYhITH-M2RV0c</string>
	<key>GCM_SENDER_ID</key>
	<string>264624390495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vyayapp.vyay</string>
	<key>PROJECT_ID</key>
	<string>vyayapp</string>
	<key>STORAGE_BUCKET</key>
	<string>vyayapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264624390495:ios:ee245e6ccc4371102db6ea</string>
</dict>
</plist>